<h1 class="mt-5 mb-4"> Cadastrar Novo Cliente </h1>

<form [formGroup]="regForm" >
  <div class="row">
    <div class="col">
      <app-label-input formControlName="nome" label="Nome" type="text"></app-label-input>
    </div>
    <div class="col">
      <app-label-input formControlName="email" label="Email" type="email"></app-label-input>
      <!-- <input formControlName="nome" type="text" class="form-control" > -->
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-label-input formControlName="cpf" label="CPF" type="text"></app-label-input>
    </div>
    <div class="col">
      <app-label-input formControlName="obs" label="Observações" type="text"></app-label-input>
    </div>
  </div>
</form>
<app-button class="d-flex justify-content-center" (buttonClick)="onClick()" titulo="Cadastrar" ></app-button>

